:root {
  --white: #ecf0f1;
  --blue: #182c61;
}

/* Header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem 1rem;
  background-color: var(--blue);
  color: var(--white);
}

header nav li {
  display: inline;
  margin-left: 1rem;
  font-size: 18px;
}

header nav li a {
  color: var(--white);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* About */
header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-list img {
  height: 1.5rem;
}

.brand-list li {
  display: inline;
  margin-right: 0.5rem;
}

section .container {
  align-items: flex-start;
}

section {
  padding: 1.5rem 0;
}

section h2 {
  margin-bottom: 1rem;
}

section {
  color: var(--blue);
}

section p {
  margin-bottom: 0.5rem;
}

.store-front {
  margin-right: 2rem;
}

/* Footer */
/* Contact */
#contact .container {
  display: flex;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Form */
form input,
form textarea,
form button {
  display: block;
  width: 20rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

form textarea {
  resize: none;
  height: 180px;
}

form button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline-color: var(--blue);
}

/* Social Media */
.social-links img {
  height: 1.5rem;
}

.social-links li {
  display: inline;
  margin-right: 0.5rem;
}

.social-links li a {
  text-decoration: none;
}

@media only screen and (max-width: 860px) {
  .container {
    min-width: 320px;
    flex-direction: column;
    gap: 1rem;
  }

  .container > img {
    width: 100%;
  }

  #contact .container {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 420px) {
  form input,
  form textarea,
  form button {
    width: 18rem;
  }
}
