@import 'variables.less';

body {
  background-color: @colors[background];
  color: @colors[text];
  font-family: @font-family;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  text-align: center;
}